### Import Libraries

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import warnings

### Read Dataset in pandas structure

In [10]:
df = pd.read_csv('data/stud.csv')

### Explore the data

In [11]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [7]:
df.shape

(1000, 8)

### Checking the number of unique values of each column

In [36]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

### Check Missing values

In [8]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

### Check Duplicate Values

In [9]:
df.duplicated().sum()

0

### Check various categories present in the different categorical column

In [17]:
print(df['gender'].unique())

['female' 'male']

### Check data types

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [18]:
for row in df:
    print(row)

gender
race_ethnicity
parental_level_of_education
lunch
test_preparation_course
math_score
reading_score
writing_score

In [26]:
print(df['gender'][3])

male

In [31]:
for feature in df.columns:
    if df[feature].dtype != 'O':
        print("numeric feature {0}".format(feature))
    else:
        print("categorical feature {0}".format(feature))

categorical feature gender
categorical feature race_ethnicity
categorical feature parental_level_of_education
categorical feature lunch
categorical feature test_preparation_course
numeric feature math_score
numeric feature reading_score
numeric feature writing_score

### Adding columns for "Total Score" and "Average"